<div *ngIf="location">
    <h2>{{ location.name }}</h2>
    <p><strong>Location ID:</strong> {{ location.id }}</p>
    <p><strong>Type:</strong> {{ location.type }}</p>
    <p><strong>Dimension:</strong> {{ location.dimension }}</p>
  
    <div *ngIf="location.residents && location.residents.length > 0">
      <h3>Residents</h3>
      <ul>
        <li *ngFor="let residentUrl of location.residents">
          <a [href]="residentUrl" target="_blank" style="color: black;">Resident URL</a>
        </li>
      </ul>
    </div>
  </div>