.location-details-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-details{
    width: 60%;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.location-details-info{
    display: flex;
    justify-content: space-around;
}

.location-details-block-info{
    display: flexbox;
    margin: 3% auto;
    width: 80%;
    justify-content: center;
    align-items: center;
    background-color: rgb(107, 113, 50, 0.9);
    color: rgb(235, 228, 128);
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    border-radius: 20px;
    padding: 0 2%;
    padding-bottom: 2%;
    font-family: "Courier", sans-serif;
    font-size: 18px;
    border: 2px solid black;
}

.location-details-block-name{
    text-align: center;
    padding: 2% 0%;
    border-bottom: 1px solid #ebe480;
}

.location-details-name{
    text-align: center;
    margin-top: 1%;
}

.location-details-character-list{
    display: flex;
    max-height: 300px;
    overflow-y: auto;
    padding: 0 3%;
    
}

.location-details-info-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Customize scrollbar appearance */
::-webkit-scrollbar {
    width: 10px; /* Adjust the width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #4f5425; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners of the thumb */
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(107, 113, 50, 0.7);
  }

  .character-details-image-wrapper {
    position: relative;
    width: 60%; /* Adjust total width as a percentage of the viewport or container */
    margin: 0 auto; /* Center horizontally */
  }

  li{
    margin-bottom: 2%;
    padding-left: 32px;
    background: url('../../assets/rick_small.png') no-repeat left center;
  }
  

  .episode-link{
    color: rgb(235, 228, 128);
  }