.header-text{
    font-family: "RickMorty", serif;
    color: rgb(235, 228, 128);
    font-weight: 300;
    font-size: 28px;
}

.header-text:hover {
    font-size: 28px;
    font-weight: 500; /* Change the color on hover */
    text-shadow: -2px -2px 0 #043c6e, 2px -2px 0 #043c6e, -2px 2px 0 #043c6e, 2px 2px 0 #043c6e;
}