<content class="home-page-wrapper">
    <div class="home-page-header">
        <div class="home-page-header-text">
            "Rick and Morty" is an animated science fiction sitcom that premiered on Adult Swim in
            December 2013. Created by Justin Roiland and Dan Harmon, the show has gained widespread
            acclaim for its unique blend of dark humor, complex storytelling, and exploration of
            existential and philosophical themes.
        </div>
    </div>

        
    <div class="home-info-block">       
        <p class="home-list-title">Website description</p>

        <ul class="home-list">
            <li class="home-list-item"><strong>Characters:</strong> Learn about each character, who you have seen</li>
            <li class="home-list-item"><strong>Episodes:</strong> Explore the list of episodes</li>
            <li class="home-list-item"><strong>Locations:</strong> Discover diverse and peculiar locations featured in the series.</li>
        </ul>
    </div>

</content>
