<content>
    <div class="panel padding-40">
        <div class="row">
            <div class="col-8 d-flex justify-content-center">
                <div class="row">
                    "Rick and Morty" is an animated science fiction sitcom that premiered on Adult Swim in
                    December 2013. Created by Justin Roiland and Dan Harmon, the show has gained widespread
                    acclaim for its unique blend of dark humor, complex storytelling, and exploration of
                    existential and philosophical themes.
                </div>
            </div>
        </div>
    </div>
        
    <div class="padding-25 bg-color-1">
        <div class="row">
            <div class="col-12 d-flex justify-content-center f-large padding-b-25">
                <span class="titre">Website description</span>
            </div>
            <ul>
                <li><strong>Characters:</strong> Learn about each character, who you have seen</li>
                <li><strong>Episodes:</strong> Explore the list of episodes</li>
                <li><strong>Locations:</strong> Discover diverse and peculiar locations featured in the series.</li>
            </ul>
        </div>
    </div>

</content>
