.character-block{
    width: fit-content;
    display: block;
    justify-content: center;
}

.character-block-text{
    margin: 5%;
    padding: 0;
}

.character-block-image{
    width: 60%;
    margin: 5% 5%;
}

.character-block-name{
    font-weight: 600;
}

.character-block-link{
    font-weight: 300;
}