.character-block{
    display: flex;
    justify-content: center;
}

.character-block-text{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 5%;
}

.character-block-image{
    width: 50%;
    margin: 5% 5%;
    border-radius: 10px;
}

.character-block-name{
    color: rgb(235, 228, 128);
    font-size: 20px;
    font-weight: 600;
}

.character-block-link{
    color: #a6cccc;
    font-size: 18px;
    font-weight: 300;
}

.character-block:hover .character-block-link{
    font-weight: 700;
    text-shadow: -1px -1px 0 #043c6e, 1px -1px 0 #043c6e, -1px 1px 0 #043c6e, 1px 1px 0 #043c6e;
}