
  <h3 class="outline outline-name">Character list</h3>
  <div class="outline" style="display: flex;">
    <span class="outline-filter" *ngFor="let letter of alphabet" (click)="filterCharacters(letter)">{{ letter }}</span>
    <span class="outline-filter" (click)="resetFilter()" style="cursor: pointer; margin: 5px;">CLEAR</span>
  </div>
  <div class="container">
    <div class="row">
      <ng-container *ngFor="let character of characters">
        <div class=" col-md-4 col-sm-6 col-12">
          <div class="character-instance">
            <app-character [character]="character"></app-character>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
