.episode-container{
    background-color: rgb(107, 113, 50, 0.9);
    margin: 1% auto;
    width: 80%;
    border-radius: 20px;
    border: 2px solid black; /* Thin black outline */
    display: flex;
    flex-direction: column;
    padding: 1% 0;
}

.episode-container-name{
    color: rgb(235, 228, 128);
    margin-bottom: 1%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.episode-container-link{
    color: #a6cccc;
    margin-top: 2%;
    align-self: center;
    font-size: 18px;
    font-weight: 300;
}

span{
    margin: 0 2%;
    border-bottom: 1px solid  rgb(235, 228, 128);
}


.episode-container:hover .episode-container-link{
    font-weight: 700;
    text-shadow: -1px -1px 0 #043c6e, 1px -1px 0 #043c6e, -1px 1px 0 #043c6e, 1px 1px 0 #043c6e;
}
